@{
    ViewData["Title"] = "Index 3 page";
}
@model MvcApp.Models.Person

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="well well-lg">
Bindovani pres asp-for="Model.Property"  
</div>



<form asp-controller="Home" asp-action="Index3">
  <table>
    <tr>
      <td><label asp-for="Name"></label></td>
      <td><input asp-for="Name" /></td>
    </tr>
    <tr>
      <td><label asp-for="Age"></label></td>
	  <td><input asp-for="Age" /></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>


