@{ ViewData["Title"] = "TagHelper page"; } @model MvcApp.Models.Person

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="well well-lg">
  Bindovani pres asp-for="Model.Property"
</div>

<div style="font-size:20px;">
<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
</div>

<!-- toogle buttons -->
<div class="panel">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-info"><input type="checkbox"/>
      <span class="glyphicon glyphicon-user"></span> 
      Option 1
    </label>
    <label class="btn btn-primary"><input type="checkbox"/>
      <span class="glyphicon glyphicon-envelope"></span>
      Option 2
    </label>
    <label class="btn btn-danger"><input type="checkbox"/>
      <span class="glyphicon glyphicon-cog"></span> 
      Option 3
    </label>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
	<input type="radio" name="options" id="option1"> Option 1</label>
    <label class="btn btn-primary">
	<input type="radio" name="options" id="option2"> Option 2</label>
    <label class="btn btn-primary">
	<input type="radio" name="options" id="option3"> Option 3</label>
  </div>
</div>
<!-- /toogle buttons -->


<form asp-controller="Home" asp-action="TagHelper">
  <table>
    <tr>
      <td><label asp-for="Name"></label></td>
      <td> </td>
      <td><input asp-for="Name" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><label asp-for="Age"></label></td>
      <td> </td>
      <td><input asp-for="Age" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td colspan="2"><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>