@model IEnumerable<string>

<div>********** SimpleViewComponent - default.cshtml - begin **********</div>


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Sample list component</h3>
<ul>
  @foreach(var item in Model)
  {
    <li>@item</li>
  }
</ul>


<div>********** SimpleViewComponent - default.cshtml - end **********</div>